
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permitir la lectura pública de todos los archivos.
    match /{allPaths=**} {
      allow read: if true;
    }
    
    // Solo los usuarios autenticados pueden escribir en su propia carpeta de perfil.
    // Esto asegura que un usuario solo pueda subir su propia foto de perfil.
    match /users/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
